// ============================= BUTTONS =======================
.btn {

    padding: 1em 1em;
    color: var(--white-color);
    border-radius: 10px 0 10px 0;
    filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.15));
    cursor: pointer;

    &__primary{
        background-color: var(--primary-color);

        &:hover {
            background: var(--white-color);
            color: var(--primary-color);
            border: 1.5px solid var(--primary-color);
        }
    }

    &__secondary {
        background-color: var(--secondary-color);

        &:hover {
            background: var(--white-color);
            color: var(--primary-color);
            border: 1.5px solid var(--dark-color);
        }
    }

    &__header {
        display: none;
    }
}