// ================ Expert Chef =====================

.expert {

    display: flex;
    flex-direction: column;
    row-gap: 2em;

    @media screen and (min-width: 992px) {
        flex-direction: row;
        
    }

    &__detail {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        margin: 0 auto;

        p{
            margin-bottom: 1em;
            max-width: 300px;
        }

        .chef__qualities {
            display: flex;
            flex-direction: column;
            row-gap: 1em;

            &__item {
                display: flex;
                flex-direction: column;
                row-gap: 1em;

                @media screen and (min-width: 1200px) {
                    flex-direction: row;
                    column-gap: 1em;
                    
                }

                .quality {
                    display: flex;
                    column-gap: 0.5em;

                    img {
                        width: 24px;
                        height: 24px;
                
                    }
                }
            }
        }

        &__btn {
            display: flex;
            column-gap: 1em;
        }
    }

    // Image

    &__img {

        display: flex;
        align-items: center;
        justify-content: center;

        .img__container {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width: 80%;

            }
        }
    }


    
}