// For small devices
@media screen and (min-width: 360px) {

    .section {
        padding: 3.5rem 0 1rem;
    }

    .change-theme{
        position: absolute;
    }

}

@media screen and (min-width: 576px) {

    .hero {
        &__left{
            &__container {
                width: 90%;
            }
        }
    }

    
}


// For medium devices
@media screen and (min-width: 768px) {

    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);

        &__list {
            flex-direction: row;
            align-items: center;
            column-gap: 2.5rem;
        }

        &__toggle {
            display: none;
        }
    }

    .hero {
        &__left{
            &__container {
                width: 80%;
            }
        }
    }

    .change-theme {
        position: initial;
    }

    .special__dishes {

        .section{

            .dish {
                grid-template-columns: repeat(2, 1fr);
            }

        }
        
        
    }
}

// For large devices

@media screen and (min-width: 1024px) {

    .container {
        max-width: 80%;
    }

    .hero{
        margin-top: 5em;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        &__left{
            &__container {
                width: 100%;
            }
        }
    }

    

    .nav {

        .btn__header{
            display: block;
        }
    }

    .special__dishes {

        .section{

            .dish {
                grid-template-columns: repeat(4, 1fr);
                
            }
        }
    }
    
}

