// ================ SPECIAL DISHES ========================

.special__dishes {
    background: #e6eaef;

    .section {
        padding: 0 auto;



        .special__dishes__text {

            margin-bottom: 10em;

            text-align: center;

            h1{
                font-size: var(--biggest-font-size);
            }

            p {
                margin: 0 auto;
                max-width: 256px;
                font-size: var(--normal-font-size);
            }
        }

        .dish {

            width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 2em;
            // grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
            // display: flex;
            // flex-direction: column;

            @media screen and (min-width: 720px) {
                grid-template-columns: repeat(2, 1fr);
                
            }

            @media screen and (min-width: 1440px) {
                grid-template-columns: repeat(4, 1fr);
                
            }

            &__item {
                text-align: center;
                padding: 8em 1.5em 3.125em;
                // width: 265px;
                width: 100%;
                border-radius: 40px 10px 40px 10px;
                border: 1px solid var(--white-color);
                position: relative;
                left: 0;
                right: 0;
                margin: 0 auto 8em;

                h3{
                    font-size: var(--h3-font-size);
                    margin-bottom: 1.25em;
                }
                
                p{
                    font-size: var(--normal-font-size);
                }

                &__img {
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    top: -40%;

                    .dish__price {
                        position: absolute;
                        top: 30%;
                        right: 0;
                        margin: auto 0;
                        border-radius: 50%;
                        background: var(--dark-color);
                        width: 50px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--white-color);
                    }
                }

                &:hover {
                    background: var(--white-color);
                }

            }
        }
    }



    // ============= WELCOME PART =================

    &__welcome {

        display: flex;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            flex-direction: row-reverse;
            justify-content: space-between;
            
        }

        &__detail {
            display: flex;
            flex-direction: column;
            row-gap: 1em;
            margin: 0 auto;

            // @media screen and (min-width: 768px) {
                
            //     flex-direction: row-reverse;
                
            // }

            p {
                width: 300px;
                margin-bottom: 2em;
            }

            .welcome__btn {
                display: flex;
                column-gap: 1em;
            }
        }

        &__img {

            .img{
                min-width: 300px;
                width: 100%;
                position: relative;
                max-width: 500px;

                .main-img {
                    width: 100%;
                }

                .leaf_1,
                .leaf_2,
                .leaf_3,
                .leaf_4 {
                    position: absolute;
                    z-index: 5;
                    width: 30%;

                }

                .leaf_1 {
                    top: 5rem;
                    left: 0;
                    width: 15%;

                }

                .leaf_2 {
                    bottom: 1rem;
                    left: 2rem;
                }

                .leaf_3 {
                    right: -1rem;
                    top: 2.5rem;
                }

                .leaf_4 {
                    bottom: 2.5rem;
                    right: 6rem;
                    width: 15%;

                }
            }


        }
    }
}

